


.nav{
  display: flex;
  flex-direction: row;

  
  a{
    color: black;
    text-decoration: none; /* no underline */
  }

  .button{
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: lightgrey;

  &:hover{
    background-color: rgb(73, 73, 248);
  }
  }
}